.scroll-btn
    display: flex
    padding: 1rem 0.5rem
    position: fixed
    bottom: 10px
    right: 5
    border: 1px solid #FFFFFF
    border-radius: 0.8rem
    &:hover
        filter: brightness(1.5)
    svg
        color: #FFFFFF
        font-weight: 800
