.header-container
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    background-color: #FFD700

.header-wrapper
    display: flex
    justify-content: center
    width: 90%
    position: relative
    padding: 1.5rem 0rem

.header-logo-wrapper
    display: flex
    justify-content: center
    align-items: center
    height: 50%
    cursor: pointer
    align-items: center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0

.header-profile-wrapper
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    height: 50%
    top: 50%
    right: 0
    transform: translateY(-50%)

.header-profile-text
    display: flex
    justify-content: center
    align-items: center

@media screen and ( max-width: 980px )
    .header-profile-text
        display: none

@media screen and ( max-width: 480px )
    .header-logo-wrapper
        height: 40%
