.header-container
    display: flex
    width: 100%
    heigth: 15rem
    justify-content: center
    align-items: center
    background-color: red

.header-wrapper
    display: flex
    justify-content: space-between
    width: 90%
    padding: 2rem 0rem
    background-color: green
    color: #FFFFFF

.header-logo
    display: flex
.header-search
.header-profile-wrapper