.modal-fight-hc-container
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 70%
    height: 60%

.modal-fight-hc-img-wrapper
    display: flex
    width: 100%
    height: 90%
.modal-fight-hc-title-wrapper
    display: flex
    justify-content: center
    width: 100%
.modal-fight-hc-title
    font-weight: 800
    text-align: center
    color: #FFFFFF