.hero-cards-container
    display: flex
    width: 75%
    min-height: 100vh
    justify-content: center

.hero-cards-wrapper
    display: flex
    width: 90%
    flex-wrap: wrap
    gap: 1rem
    justify-content: center
    padding: 2rem 0