.modal-bg
    display: flex
    justify-content: center
    align-items: center

.modal-box
    display: grid
    grid-template-columns: 1fr 1.5fr 1fr
    flex-direction: column
    position: relative
    width: 85%
    height: 85%
    position: absolute
    background-color: #000000
    border-radius: 8px
    color: #FFFFFF
    border: 2px solid #FFD700

.modal-attributes-wrapper
    display: flex
    width: 100%
    flex-direction: column
    justify-content: center

.modal-attributes-title
    text-align: center
    color: #00FF00
    margin-bottom: 2rem
    position: absolute
    top: 2rem
    left: 50%
    transform: translateX(-50%)

.modal-attributes-container
    display: flex
    flex-direction: column
    align-items: center
    // padding: 2rem
    gap: 0.5rem

.modal-card-container
    display: flex
    width: 100%
    height: 100%
    justify-content: center
    align-items: center

.modal-fight-hc-btn
    display: flex
    position: absolute
    bottom: 1rem
    left: 50%
    transform: translateX(-50%)
    background-color: #FFD700
    color: #000000
    font-size: 1.2rem
    font-weight: 800
    &:hover
        background-color: #FFD700
        filter: brightness(1.2)
        scale: 1.02

.modal-fight-close-btn
    display: flex
    position: absolute
    border: 2px solid #FFD700
    border-radius: 10px
    top: 1rem
    right: 1rem
    padding: 0.5rem
    color: #FFD700

@media screen and ( max-width: 1024px )
    .modal-box
        display: grid
        grid-template-columns: 1fr 1fr 1fr

@media screen and ( max-width: 768px )
